:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --heading-font-family: "Lato", sans-serif;
}
  
body {
  margin-top: 100px;
  font-family: var(--heading-font-family);
}
  
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-weight: bold;
}
  
h1 {
  font-size: 86px;
}
  
h2 {
  text-align: center;
}

h3 {
  font-size: 20px;
  opacity: 0.5;
}
  
p {
  font-size: 15px;
  line-height: 1.5;
  font-weight: normal;
}

strong {
  font-size: 16px;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}
  
.navigation-links a {
  margin: 20px;
}
  
.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
  
.secondary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.about {
  padding: 50px 0;
  margin: 50px 0;
}

.about-text {
  padding: 10px 80px;
  text-align: left;
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}
  
.about-paragraphs {
  margin: 20px 0;
}

.photo-about img{
  width: 100%;
}

.about-paragraphs p {
  margin: 40px;
  text-align: center;
  font-size: 23px;
  line-height: 1.9;
}

.welcome {
  font-size: 28px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 22px;
  text-decoration: none;
}
  
.email-link:hover {
  text-decoration: underline;
}

.hero {
  text-align: center;
  padding: 190px 20px;
}

.hero h2 {
  font-size: 24px;
  font-weight: normal;
  line-height: 2;
}

.portfolio {
  padding-top: 25px;
}

.project-desciption {
  padding: 30px;
  text-align: center;
}

.contacts {
  padding: 80px 50px;
}

@media screen and (max-width: 900px) {
  h1 {
    font-size: 44px;
  }

  h2 {
    font-size: 40px;
  }

  .about {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .about-paragraphs {
    margin: 0;
  }

  .about-paragraphs p {
    font-size: 15px;
    line-height: 1.5;
    text-align: center;
  }

  .about-text {
    padding: 15px 0;
  }

  .hero {
    padding: 130px 20px;
  }

  .portfolio {
    padding: 0;
  }

  .project-desciption {
    padding: 10px 0 50px 0;
  }
}